:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 18);
}

.main-div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-div {
  max-width: 640px;
  margin: auto;
  width: 100%;
}

/* Small screens ke liye responsive */
@media (max-width: 768px) {
  .video-div {
    max-width: 100%;
    padding: 0 10px;
  }
}

/* Example keyframes (optional) */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
